.comment-card svg {
    fill: white;
}

.comment-card:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid #F7444E;
    border-top: 5px solid #F7444E;
    border-bottom: 5px solid transparent;
    right: 0px;
    bottom: -7px;
}

.image-container::before {
    content: '';
    position: absolute;
    bottom: 20%;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    pointer-events: none;
}

.article-card {
    position: relative;
    cursor: pointer;
    /* Aggiungi altri stili desiderati per la card */
}

.article-card:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    /* Colore di sfondo quasi trasparente */
    z-index: 1;
    /* Assicurati che il layer sia sopra l'immagine e il contenuto */
    pointer-events: none;
    /* Per consentire l'interazione con gli elementi sottostanti */   
}