  .swiper {
      width: 100%;
  }

  .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
  }

  .swiper-slide article {
    display: block;
    width: 70vh;
    height: 75vw;
    object-fit: cover;
  }