/* .darkMode svg{
    fill: #E6E6E6;
}
*/

.circle-red svg circle{
    fill: #F7444E;
}

/*
.user svg{
    fill: #ADB5BD;
    transition: all 0.3s;
}

.glass,
.menu svg {
    fill: #E6E6E6;
    transition: all 0.3s;
} */

.searchBar input[type="text"]{
    background-color: #F7444E;
}

.searchBar input[type="text"]::placeholder {
    color: #FDD0D3; /* Cambia questo colore come preferisci */
    outline: none;
}

.searchBar svg {
    fill: #ffffff;
}